<link rel="style.css" type="text/css"  />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{url_for('static', filename='js.js')}}"></script>

<html>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center">redditbot</h1>
    <p class="lead text-center">Add you favorite subreddits and quickly look at them!</p>
  </div>
</div>
<div class="container">
    <div class="wrapper">
	    <ul style="white-space: nowrap;overflow-x: auto;" class="col-md-9 nav nav-tabs">
	      {% for n in range(subreddits|length) %}
	      {% if n == 0 %}
	      <li style="display: inline-block;float: none;" class="active"><a data-toggle="tab" href="#{{subreddits[n]}}">{{subreddits[n]}}</a></li>
	      {% else %}
	      <li  style="display: inline-block;float: none;"><a data-toggle="tab" href="#{{subreddits[n]}}">{{subreddits[n]}}</a></li>
	      {% endif %}
	      {% endfor %}
	    </ul>
    </div>
	<form class="col-md-3 pull-right form-inline" action="{{ url_for('home') }}" method="POST">
		<div class="form-group row">
		        <input type="text" class="form-control" name="sub" id="sub" placeholder="Enter sub name...">
			<input class="btn btn-info col-form-label" type=submit value="Add">
		</div>
	</form>
    </br></br></br>
    <div class="tab-content">
      {% for n in range(subreddits|length) %}
      {% if n == 0 %}
      <div id="{{subreddits[n]}}" class="tab-pane fade in active">
      {% else %}
      <div id="{{subreddits[n]}}" class="tab-pane fade">
      {% endif %}
	<div class="row">
	        <h3 class="col-md-9">{{subreddits[n]}}</h3>
		<a href="/reset" class="col-md-3 pull-middle btn btn-link">reset</a>
        </div>
	{% for submission in posts[n] %}
        <div class="comment-tabs">
          <ul class="media-list">
            <li class="media">
              {% if submission.thumbnail.startswith('http') %}
              <a class="pull-left" href="#">
                <img class="media-object" style="width:100px;height:100px" src="{{submission.thumbnail}}">
              </a>
	      {% else %}
	      <a class="pull-left" href="http://i.imgur.com/1a7hzx7.png">
                <img class="media-object" style="width:100px;height:100px" src="http://i.imgur.com/1a7hzx7.png">
              </a>
              {% endif %}
              <div class="media-body">
                <div class="well well-lg">
                    <a href="{{submission.url}}" target="_blank" class="media-heading reviews">{{submission.title}} </a>  
		    <small class="text-muted"> - <a style="color:black" target="_blank" href="http://reddit.com/r/{{subreddits[n]}}">/r/{{subreddits[n]}}</a> </small>
                    <br>
                    <a class="btn btn-info btn-circle" target="_blank" href="http://reddit.com{{submission.permalink}}" id="reply">
                      <span class="glyphicon glyphicon-share-alt"></span> View
                    </a>
                </div>
              </div>
            </li>
          </ul>
        </div> 
        {% endfor %}
      </div>
      {% endfor %}
    </div>


<div class="row">
  <div class="page-header text-center">
    <h3 class="reviews"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" style="height:35px;width:35px" alt="GitHub"></span> Designed by <a 
href="https://github.com/JCoelhoo">JCoelho</a></h3>
  </div>
</div>
</html>



