
/*
    Image credits:
    uifaces.com (http://uifaces.com/authorized) */
#login { display: none; }
.login, .logout {
    position: absolute;
    top: -3px;
    right: 0;
}
.page-header { position: relative; } .reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; } .media-body { position: relative; } .media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; } .media-date li:first-child:before { content: ''; } .media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; } .media-replied { margin: 0 0 20px 50px; } .media-replied .media-heading { 
padding-left: 6px; } .btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; } .embed-responsive { margin-bottom: 20px; } .tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.clearfix:before, .clearfix:after { content: " "; display: table;
}
.clearfix:after { clear: both;
}
body { font-family: sans-serif; background: #f6f9fa;
}
h1 { color: #ccc; text-align: center;
}
a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}
/*Fun begins*/ .tab_container { width: 90%; margin: 0 auto; padding-top: 70px; position: relative;
}
input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}
label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 20%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}
#tab1:checked ~ #content1, tab2:checked ~ #content2, tab3:checked ~ #content3, tab4:checked ~ #content4, tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}
.tab_container .tab-content p, .tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3 {
  text-align: center;
}
.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #0CE;
}
.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}
label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}
/*Media query*/ @media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  label span {
    display: none;
  }
  label .fa {
    font-size: 16px;
  }
  .tab_container {
    width: 98%;
  }
}
/*Content Animation*/ @keyframes fadeInScale {
  0% {
  transform: scale(0.9);
  opacity: 0;
  }
  
  100% {
  transform: scale(1);
  opacity: 1;
  }
}
